<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Vehicle.Name</h5>
        <p class="card-text">
            <strong>Model</strong>: @Vehicle.Model
        </p>
    </div>
</div>

@code {
    [Parameter]
    public BlazorStarWars.Web.App.Client.IVehicle Vehicle { get; set; } = default!;
}
